

#preview-plan {
     /* background:url("./images/freedom.jpg") left 10% bottom 20%/cover no-repeat border-box local ;  */
    /* background-position:left 10% bottom 30%;
    background-size:cover;
    background-repeat:no-repeat;
    background-origin:border-box;
    background-clip:border-box;
    background-attachment: local; */
    /* The background properties are arranged according the pattern of writing it in shorthand */
    background-image:linear-gradient(to right, green 90%,red 80%,black);
    width:100%;
    height: 520px;
    padding:16px;
    position:relative;
    /* border:4px dashed #ffee32; */
}
#preview-plan h1{
    color:#fff;
    position:absolute;
    bottom:16px;
    font-weight:bold;
    
}

.section-title{
    color:#2ddf5c; 
    border-top-left-radius: 12;
    column-width: 12;
    text-align: center;
}
.plan__lists{
    width:80%;
    margin:0 auto;
    text-align: center;
}

.plan{
    background-color: #d5ffdc;
    padding:16px;
    margin:6px;
    text-align:center;
    width:30%;
    display:inline-block;
    vertical-align: middle;
}
.plan-highlighted{
    background-color:#19b84c;
    color:#fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
}
.plan__annotation{
    color:#19b84c;
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius:8px;
    padding:8px;
}

.plan__title{
    color:#0e4f1f;
}

.plan__price{
    color:#807878;
}

.plan-highlighted .plan__title{
    color:#0e4f1f;
}

.plan-highlighted .plan__price{
    color:#fff;
}

.plan__features{
    list-style-type:none;
    margin:0;
    padding:0;
}

.plan__feature{
    margin:8px 0;
}

.button{
    color:#fff;
    background-color: #0e4f1f;
    font:inherit;
    padding:8px;
    border-radius: 8px;
    border:1.5px solid #0e4f1f;
    font-weight: bold;
    cursor:pointer;

}

.button:hover,
.button:active{
    background-color: #fff;
    color:#0e4f1f;
}

.button:focus{
    outline: none;
}

#key-features{
    background-color: #ff1b68;
    margin-top:80px;
    padding:16px;
    
}

#key-features .section-title{
    color:#fff;
    margin:32px;
}

.key-feature__lists{
    list-style-type: none;
    text-align: center;
    margin:0;
    padding:0;
}

.key-feature__image{
    height:128px;
    width:128px;
    background-color: #ffcede;
    border-radius:50%;
    margin:0 auto;
    border:2px solid #424242;
}

.key-feature{
    display: inline-block;
    width:30%;
    vertical-align: top;
}

.key-feature__description{
    color:#fff;
    font-weight: bold;
    font-size:20px;
    text-align: center;
}
