body{
    font:'monserrat','sans-serif';
    margin:0;
}

#preview-plan {
    background: #ff1b68;
}
#preview-plan h1{
    color:#fff;
}
h1{
    color:#fff;
}

.section-title{
    color:#2ddf5c; 
    border-top-left-radius: 12;
    column-width: 12;
    
}